<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:sws="http://www.springframework.org/schema/web-services"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
          http://www.springframework.org/schema/web-services http://www.springframework.org/schema/web-services/web-services-2.0.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
          http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
">
 <!-- declare datasource -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="${jdbc.database.driverClassName}" />
        <property name="jdbcUrl" value="${jdbc.database.url}" />
        <property name="user" value="${jdbc.database.username}" />  
        <property name="password" value="${jdbc.database.password}" />
        <property name="initialPoolSize" value="${c3p0.database.initialPoolSize}"/>
        <property name="minPoolSize" value="${c3p0.database.minPoolSize}"/>
        <property name="maxPoolSize" value="${c3p0.database.maxPoolSize}"/>
        <property name="acquireIncrement" value="${c3p0.database.acquireIncrement}"/>
        <property name="maxStatements" value="${c3p0.database.maxStatements}"/>
        <property name="numHelperThreads" value="${c3p0.database.numHelperThreads}"/>
        <property name="acquireRetryAttempts" value="${c3p0.database.acquireRetryAttempts}"/>
        <property name="acquireRetryDelay" value="${c3p0.database.acquireRetryDelay}"/>
        <property name="breakAfterAcquireFailure" value="${c3p0.database.breakAfterAcquireFailure}"/>
        <property name="maxIdleTime" value="${c3p0.database.maxIdleTime}"/>
        <property name="checkoutTimeout" value="${c3p0.database.checkoutTimeout}"/>
        <property name="idleConnectionTestPeriod" value="${c3p0.database.idleConnectionTestPeriod}"/>
        <property name="testConnectionOnCheckin" value="${c3p0.database.testConnectionOnCheckin}"/>
        <property name="testConnectionOnCheckout" value="${c3p0.database.testConnectionOnCheckout}"/>
        <property name="preferredTestQuery" value="${c3p0.database.preferredTestQuery}"/>
    </bean>
    <task:annotation-driven />

</beans>